#!/usr/bin/env bash

[ -d $HOME/Pictures ] || mkdir $HOME/Pictures
if ! [ -d "$HOME/Pictures/wallpapers" ]; then
    git clone git@github.com:CodePurble/wallpapers.git $HOME/Pictures/wallpapers # private sorry :P
fi

GIT_DIR="$HOME/Downloads/git"
[ -d "$GIT_DIR" ] || mkdir -p "$GIT_DIR"

{{ if eq .chezmoi.hostname "nitro" }}

echo "Running on host: nitro"

sudo pacman -S --needed --noconfirm \
    base-devel git git-delta ninja cmake meson exa bat \
    alacritty neovim python-pynvim \
    feh zathura maim xclip \
    networkmanager network-manager-applet \
    xfce4-power-manager \
    ranger pcmanfm gvfs gvfs-mtp \
    herbstluftwm \
    calcurse rofi \
    xorg xorg-xinit lxsession \
    xf86-video-intel intel-ucode \
    nvidia nvidia-prime nvidia-utils nvidia-settings bbswitch \
    arduino-cli github-cli \
    bluez bluez-utils bluez-libs

if ! which volume; then
    git clone git@github.com:CodePurble/i3-volume.git "$GIT_DIR"/i3-volume
fi

paru_cmd() {
    paru -S --sudoloop --needed --noconfirm \
        optimus-manager-git \
        polybar nsxiv \
        nerd-fonts-jetbrains-mono \
        nerd-fonts-fantasque-sans-mono \
        nerd-fonts-ubuntu-mono \
        zsh-theme-powerlevel10k-git \
        zsh-fast-syntax-highlighting-git \
        betterlockscreen-git i3-scratchpad-git \
        optimus-manager-qt spotify \
        picom-jonaburg-git
}

if ! which paru > /dev/null; then
    if ! [-d "$GIT_DIR/paru"]; then
        git clone https://aur.archlinux.org/paru.git "$GIT_DIR"/paru
        cd "$GIT_DIR"/paru
        makepkg -si
    fi
fi

paru_cmd

{{ else if eq .chezmoi.hostname "asterix" }}

echo "Running on host: asterix"

sudo pacman -S --needed --noconfirm \
    base-devel git git-delta ninja cmake meson exa bat \
    alacritty neovim python-pynvim \
    xclip ranger \
    arduino-cli github-cli

yay_cmd() {
    yay -S --sudoloop --noconfirm --needed \
        nerd-fonts-jetbrains-mono \
        nerd-fonts-ubuntu-mono \
        zsh-theme-powerlevel10k-git \
        zsh-fast-syntax-highlighting-git
}

if ! which yay > /dev/null; then
    if ! [-d "$GIT_DIR/yay"]; then
        git clone https://aur.archlinux.org/yay.git "$GIT_DIR"/yay
        cd "$GIT_DIR"/yay
        makepkg -si
    fi
fi

yay_cmd

{{ end }}

echo "All done"
