# Movement (can be prefixed with a number)
move_down j
move_up k
move_left h
move_right l

# Avoid scrolling past end
goto_beginning;goto_top_of_page gg
goto_end;goto_bottom_of_page <S-g>

# If we are not at the end of viewing history, goto the next history point
next_state <C-l>
# Goto the previous history point
prev_state <C-h>

toggle_statusbar <C-n>

# Zoom
zoom_in +
zoom_out -

# Automatically set the zoom level and horizontal offset such that the current
# page is centered horizontally and it fills the screen width
fit_to_page_width a
# Same as fit_to_page_with but ignores page margins
fit_to_page_width_smart <S-a>
# Automatically set the zoom level and horizontal offset such that the current
# page is centered vertically and it fills the screen height, ignore margins
fit_to_page_height_smart <S-s>
fit_to_page_height s

# Quit sioyek
quit q

# Goto forward for one page width. (can be prefixed with a number) (note that
# going forward for one page width is not
# usually what you want becaue if the page
# is larger than the screen you will miss
# some content. What you usually want is
# screen_down)
next_page           <space>
previous_page       <S-<space>>

# Go down one screen width (can be prefixed with a number which tells how many
# screen widths should we go down)
screen_down         <pagedown>
screen_up           <pageup>
