rerender_overview 1
ui_font Iosevka
font_size 12
background_color 0.15 0.17 0.20
# page_separator_width 1
# page_separator_color 0 0 0
inverse_search_command nvr --remote-silent +%2 %1

## Color of status bar background
status_bar_color 0.15 0.17 0.30
## Color of status bar text
status_bar_font_size 12

show_doc_path
multiline_menus
prerender_next_page_presentation

